
input{
    font-size: 1.2rem;
    text-align: center;
    padding: 10px;
    border: solid 1.5px #D3D3D3;
    transition: 1s;
    border-radius: 25px;
    
}

input:hover{
    box-shadow: 0 0 5px 0.5px #D3D3D3;
}
input:focus {
    box-shadow: 0 0 5px 2px #D3D3D3;
    outline-width: 0px;
  }
